[openweathermap]
apikey = change-to-your-apikey
url = http://samples.openweathermap.org/data/2.5/weather
location = London,uk

[splunk]
url = https://127.0.0.1:8088/services/collector/event
token = changeme
hostname = openweathermap
metric_index = test_metrics
